.App {
  text-align: left;
  margin-left: 0px;
  font-family: Facit,Calibri,Helvetica,sans-serif;
  color: #595959;
  font-size: 14.5px;
}

.AppText{
  margin-left: 30px;
}

.title {
  font-size: 20px;
  line-height: 22px;
  color: #595959;
}

.minititle {
  font-size: 16px;
  line-height: 18px;
  color: #595959;
}

.small {
  font-size: 13px;
  color: rgba(89,89,89,.7);
}

.App-header {
  background-color: #1bb193;
  height: 75px;
  padding: 20px;
  color: white;
  font-size: 24px;
}

.logo {
  height: 120%;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;

}

.buttonDelete {
    width: 15px;
    height: 10px;
    background: #fa6750;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
}
.buttonDelete:hover {
    background: #f52707;
}
.buttonAdd {
    display: block;
    width: 40px;
    height: 25px;
    background: #117d67;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    border-color: #117d67;
    border-style: solid;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.buttonAdd:hover {
    background: #216d5d;
    border-color: #216d5d;
}
.buttonImport {
    width: 40px;
    height: 25px;
    background: #8f8f8f;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    border-color: #8f8f8f;
    border-style: solid;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.buttonImport:hover {
    background: #7b7b7b;
    border-color: #7b7b7b;
}
.buttonSubmit{
    height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #ffb600;
    border-color: #ffb600;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    border-style: solid;
    font-weight: 500;
    transition: all .15s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    cursor: pointer;
}

.buttonView{
    height: 50px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #1bb193;
    border-color: #1bb193;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    border-style: solid;
    font-weight: 500;
    transition: all .15s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    cursor: pointer;
}

.buttonView:hover{
    background-color: #189b81;
    border-color: #189b81;
}

.buttonSubmit:hover{
    background-color: #e5a300;
    border-color: #e5a300;
}

.App-intro {
  font-size: large;
}
